html,
body,
header,
.view {
  height: 100%;
}


@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

body
{
}

@font-face
{
	font-family: main_font;
	src: url("Dreamwood.ttf");
}

.navbar-brand
{
	font-size: 75%;
	font-family: main_font;
}

h2
{
	font-family: main_font;
}

.top-nav-collapse {
    background-color: rgb(162,51,23);
}

.navbar:not(.top-nav-collapse) {
    background-color: rgb(162,51,23);
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background-color: rgb(162,51,23);
  }
}
